.customize-page{
    height: 100vh;
}
.customize-page .upper-container{
    height: 68vh;
}
.customize-page .lower-container{
    height: 20vh;
}
.customize-page .card{
    background-color: rgb(228, 227, 227) !important;
}
.customize-page .gallery-icon{
    font-size: 3rem;
}
/* .konvas-container{
    width: 70px;
    height: 70px;
}

.konvajs-content{
    width: 70% !important;
    height: 70% !important;
} */

/* .stageContainer{

} */

/* .konvajs-content canvas,.konvajs-content,.stageContainer{
    width: 100% !important;
    height: 100% !important;
} */